---
title: "Publications"
permalink: /publications/
author_profile: true
---

You can also find my articles on [Google Scholar](https://scholar.google.com/citations?user=0wrd3w8AAAAJ&hl=en).

(^ indicates the co-first author and # indicates the corresponding author)

{% assign pubs = site.publications | sort: "date" | reverse %}
{% assign total_pubs = pubs | size %}
{% assign current_year = "" %}

{% for pub in pubs %}
  {% assign pub_year = pub.year | default: pub.date | date: "%Y" %}

  {% if pub_year != current_year %}
## {{ pub_year }}
    {% assign current_year = pub_year %}
  {% endif %}

  {% assign pub_number = total_pubs | minus: forloop.index0 %}

**[{{ pub_number }}]** {{ pub.authors }}. {{ pub_year }}. {{ pub.title }}. {% if pub.paperurl %}[*{{ pub.venue }}*]({{ pub.paperurl }}).{% else %}*{{ pub.venue }}*.{% endif %}

{% endfor %}
