---
title: "Publications"
permalink: /publications/
author_profile: true
---

(^ indicates the co-first author and # indicates the corresponding author)

{% assign pubs = site.publications | sort: "date" | reverse %}
{% assign total_pubs = pubs | size %}
{% assign current_year = "" %}

{% for pub in pubs %}

  {% if pub.year %}
    {% assign pub_year = pub.year %}
  {% else %}
    {% assign pub_year = pub.date | date: "%Y" %}
  {% endif %}

  {% if pub_year != current_year %}
<h2>{{ pub_year }}</h2>
    {% assign current_year = pub_year %}
  {% endif %}

  {% assign pub_number = total_pubs | minus: forloop.index0 %}

<p>
<strong>[{{ pub_number }}]</strong>
{{ pub.authors }}. {{ pub_year }}.
{{ pub.title }}.
{% if pub.paperurl %}
<a href="{{ pub.paperurl }}"><em>{{ pub.venue }}</em></a>.
{% else %}
<em>{{ pub.venue }}</em>.
{% endif %}
</p>

{% endfor %}
