---
title: "Publications"
permalink: /publications/
author_profile: true
---

<p>
You can also find my articles on 
<a href="https://scholar.google.com/citations?user=0wd3w8AAAAJ&hl=en">Google Scholar</a>.
</p>

<p>
(# indicates the co-first author and * indicates the corresponding author)
</p>

{% assign pubs = site.publications | sort: "date" | reverse %}
{% assign total_pubs = pubs | size %}
{% assign current_year = "" %}

{% for pub in pubs %}

  {% if pub.year %}
    {% assign pub_year = pub.year %}
  {% else %}
    {% assign pub_year = pub.date | date: "%Y" %}
  {% endif %}

  {% if pub_year != current_year %}
<h2>{{ pub_year }}</h2>
    {% assign current_year = pub_year %}
  {% endif %}

  {% assign pub_number = total_pubs | minus: forloop.index0 %}

<p>
<strong>[{{ pub_number }}]</strong>
{{ pub.authors }}. {{ pub_year }}.
{{ pub.title }}.
{% if pub.paperurl %}
<a href="{{ pub.paperurl }}"><em>{{ pub.venue }}</em></a>{% else %}<em>{{ pub.venue }}</em>{% endif %}{% if pub.volume %}, <strong>{{ pub.volume }}</strong>{% endif %}{% if pub.issue %}({{ pub.issue }}){% endif %}{% if pub.pages %}, {{ pub.pages }}{% endif %}.
</p>

{% endfor %}
